
<!-- PAGE CONTENT BEGINS -->
<div class="mb-3 card">
	<div class="card-header-tab card-header-tab-animation card-header">
		<div class="card-header-title">
			<i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
			<h4 class="blue mb-0">
				<span class="col-xs-6"> 2. Form과 Component</span>
			</h4>
		</div>
	</div>
	<div class="card-body">
		<div class="alert alert-block alert-info">
			<h5>1. 사용자 정의 이벤트를 사용하여 폼 입력 컴포넌트 만들기!?</h5>
			<p class="mt-1">사용자 정의 이벤트는 v-model 에서 작동하는 사용자 정의 입력값을 만드는데도 사용할 수 있습니당!!</p>

			<div class="alert alert-secondary fade show" role="alert">
				<pre>
&lt;input v-model="something"&gt;

는 아래와 같습니다.

&lt;input v-bind:value="something" v-on:input="something = $event.target.value"&gt;

여기서 컴포넌트를 이용한다면?

&lt;custom-input v-bind:value="something" v-on:input="value => { something = value }"&gt;
&lt;/custom-input&gt;
				</pre>
			</div>
			<br />
			<p class="mt-1">통화 입력 예제입니당</p>

			<div id="form01">
				<currency-input></currency-input>
			</div>
		</div>


		<div class="alert alert-block alert-info">
			<h5>2. 컴포넌트의 v-model 사용자 정의</h5>
			<p class="mt-1">컴포넌트의 v-model은 value를 보조 변수로 사용하고 input을 이벤트로 사용해요.<br />
			하지만 체크박스와 라디오 버튼 같은 애들은 다른 목적으로 value를 사용할 수 있어요.<br />
			model 옵션을 사용하면 충돌을 피할 수 있습니다!</p>

			<div class="alert alert-secondary fade show" role="alert">
				<pre>
Vue.component('my-checkbox', {
	model: {
		prop: 'checked',
		event: 'change'
	},
	props: {
		// 다른 목적을 위해서 value를 사용할 수 있습니당
		checked: Boolean,
		value: String
	}
})
				</pre>
			</div>
			<br />
			<p class="mt-1">통화 입력 예제입니당</p>

			<div id="form01">
				<currency-input></currency-input>
			</div>
		</div>
	</div>
</div>
