<!-- header -->
<% include header.html %>


<!-- PAGE CONTENT BEGINS -->
<h3 class="row header smaller lighter blue">
	<span class="col-xs-6"> 1. 시작하기</span><!-- /.col -->
</h3>
<% include vue/html/vue_start.html %>

<h3 class="row header smaller lighter blue">
	<span class="col-xs-6"> 2. Vue의 인스턴스</span><!-- /.col -->
</h3>
<% include vue/html/vue_instance.html %>

<h3 class="row header smaller lighter blue">
	<span class="col-xs-6"> 3. Vue의 문법</span><!-- /.col -->
</h3>
<% include vue/html/vue_grammer.html %>


<!-- footer -->
<% include footer.html %>

<script>
<% include vue/js/vue_start.js %>
<% include vue/js/vue_instance.js %>
<% include vue/js/vue_grammer.js %>
</script>
