<div class="alert alert-block alert-info">
	<h4>1. computed 기본 예제</h4>
	<p>템플릿 내에는 간단한 표현식 작성이 가능하지만 길어지는 경우 가독성도 떨어지고 유지보수가 어려워요</p>
	<p>간단하지 않는 로직을 사용해야 할 경우 computed 속성을 사용하도록 해요</p>
	<br />
	<div id="app21">
		<p>원본 메시지: {{ message }}</p>
		<p>역순 메시지: {{ reverseMessage }}</p>
		<p>함수를 사용한 역순 메시지: {{ reverseMessageFunction() }}</p>
	</div>
</div>

<div id="app22" class="alert alert-block alert-info">
	<h4>2. Computed와 Methods</h4>
	<p>Computed 속성은 종속 대상을 따라 저장(캐싱) 돼요.</p>
	<p style="font-weight: bold">이말은 즉, 대상 또는 값이 변경되지 않고 그대로인 경우 함수를 실행하지 않는다는 것을 뜻해요.</p>
	<p>여러번 요청 해도, 다시 계산하지 않고 예전에 계산된 결과를 보여준다는 것이죠.</p>
	<p style="font-weight: bold">반대로 Methods를 호출하면 호출 할 때마다 계속 함수를 실행해요</p>
	<p>여러번 요청 해도, 다시 계산하지 않고 예전에 계산된 결과를 보여준다는 것이죠.</p>
</div>

<div class="alert alert-block alert-info">
	<h4>3. Computed의 Getter Setter</h4>

	<p>fullName의 getter와 setter를 지정할 수 있어요. fullName의 값을 변경하면 그에 따라 last, first도 바뀌어서 출력됩니다.</p>
	<div id="app23" class="mt10">
		제 이름은 {{ fullName }} 입니다~
	</div>
</div>

<div class="alert alert-block alert-info">
	<h4>4. Watch의 속성</h4>
	<p>Watch는 쉽게말해, 어떤 감시할 데이터를 정하고 그 데이터의 값이 변할 때 특정 함수를 실행해라 라는 의미예요</p>
	<p>데이터가 비동기식 또는 시간이 많이 소요되는 작업을 할 때 유용해요</p>
	<div id="app24">
		<p>
			yes or no 질문을 물어보슈ㅎㅎ :
			<input class="form-control" v-model="question" />
		</p>
		<p>{{answer}}</p>
	</div>
</div>

<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
