<div class="alert alert-block alert-info">
	<h5>1. 이벤트 듣기(트리거)</h5>
	<p>v-on 디렉티브를 사용해서 DOM 이벤트를 듣고 트리거 될 때 자바스크립트를 실행 할 수 있죠!!</p>
	<div id="app61">
		<button class="btn btn-primary btn-xs" v-on:click="counter += 1">누를때마다 1씩 더하기!</button>
		<p>버튼을 누른 횟수는!? {{ counter }}번 입니다~~~!!!</p>
	</div>
</div>

<div class="alert alert-block alert-info">
	<h5>2. 메소드 이벤트 핸들러</h5>
	<p>한줄로 간단히 해결되면 좋겠지만 보통 그렇지 않죠?! 그럴때 사용하는 메소드 호출!</p>
	<div id="app62">
		<button class="btn btn-primary btn-xs" v-on:click="whatsYourName">니이름이 뭐니?</button>
	</div>
</div>

<div class="alert alert-block alert-info">
	<h5>3. 인라인 메소드 이벤트 핸들러</h5>
	<p>메소드 이름을 써도 되지만 메소드에 인자를 전달하는 등 구현해서 사용할 수 있어요. 대신 1줄짜리만!</p>
	<div id="app63">
		<button class="btn btn-primary btn-xs" v-on:click="sayHo(3)">Ho를 몇번 외칠건지?!</button>
	</div>
</div>

<div class="alert alert-block alert-info">
	<h5>4. 이벤트 수식어</h5>
	<p>event.preventDefault() 또는 event.stopPropagation() 같은것은 매우 흔해요</p>
	<p>뭐..메소드 내에서 간단하게 처리 해 줘도 되겠지만 Vue에서 간단하게 제공해주니 참.편.하.겠.죠??</p>
	<ul id="app64-1">
		<li v-for="event in eventList">{{event}}</li>
	</ul>
	<div id="app64">
		<a v-on:click.stop="doThis">클릭이벤트 전파 중단됨!</a>
		<form v-on:submit.prevent="onSubmit">Submit 이벤트가 페이지를 refresh 하는것을 방지</form>
		<a v-on:click.stop.prevent="doThat">수식어는 체이닝이 가능합니다. stop.prevent 이런식</a>
		<form v-on:submit.prevent>메소드 이름을 적지 않고 이벤트 수식어만도 사용할 수 있어요</form>
		<div v-on:click.capture="doThis">이벤트 리스너를 사용할때 캡처링 이용</div>
		<div v-on:click.self="doThat">이벤트 트리거가 자식이벤트까지 전달되지 않고 자신에게만 해당됩니다.</div>
	</div>
</div>

<div class="alert alert-block alert-info">
	<h5>5. 키 수식어</h5>
	<p>이벤트가 발생될 때 key 를 확인해야 하는 경우가 있습니다. 그럴때 v-on:keyup 을 사용합니다</p>
	<div id="app65">
		<input class="form-control" v-on:keyup.enter="whatRUDoing" value="엔터키를 누를 때만 니가 뭐하는지 물어볼거임!" />
	</div>
	<ul id="app65-1">
		<li v-for="(event, idx) in eventList">{{idx}}. {{ event.name }} // {{ event.desc }}</li>
	</ul>
</div>

<div class="alert alert-block alert-info">
	<h5>6. 시스템 수식어 키</h5>
	<p>시스템 키 이벤트 발생도 탐지할 수 있어요.</p>
	<p>※ .meta는 윈도우의 윈도우키, 맥의 command키 입니다~</p>
	<p>click 이벤트와 사용하면 시스템 키를 누르고 클릭을 하면 되지만!</p>
	<p>keyup을 사용한다면 단순히 시스템 키만 누른다고 되지않음! 어떤 시스템 키를 누른 채로 어떤 키를 눌러야함 ^^</p>
	<div id="app66">
		<input class="form-control" v-on:click.ctrl="whatRUDoing" value="컨트롤 키를 누를 때만 니가 뭐하는지 물어볼거임!" />
	</div>
	<ul id="app66-1">
		<li v-for="(event, idx) in eventList">{{ event.name }}</li>
	</ul>
</div>
