<!-- header -->
<% include ../../../header.html %>


<!-- PAGE CONTENT BEGINS -->
<div class="mb-3 card">
	<div class="card-header-tab card-header-tab-animation card-header">
		<div class="card-header-title">
			<i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
			<!-- <span class="col-xs-6"> 1. 시작하기</span> -->
			<h4 class="blue mb-0">
				<span class="col-xs-6"> 1. 시작하기</span>
			</h4>
		</div>
	</div>
	<div class="card-body">
		<% include ./vue_start.html %>
	</div>
</div>

<div class="mb-3 card">
	<div class="card-header-tab card-header-tab-animation card-header">
		<div class="card-header-title">
			<i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
			<!-- <span class="col-xs-6"> 1. 시작하기</span> -->
			<h4 class="blue mb-0">
				<span class="col-xs-6"> 2. Vue의 인스턴스</span>
			</h4>
		</div>
	</div>
	<div class="card-body">
		<% include ./vue_instance.html %>
	</div>
</div>

<div class="mb-3 card">
	<div class="card-header-tab card-header-tab-animation card-header">
		<div class="card-header-title">
			<i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
			<!-- <span class="col-xs-6"> 1. 시작하기</span> -->
			<h4 class="blue mb-0">
				<span class="col-xs-6"> 3. Vue의 문법</span>
			</h4>
		</div>
	</div>
	<div class="card-body">
		<% include ./vue_grammer.html %>
	</div>
</div>

<div class="mb-3 card">
	<div class="card-header-tab card-header-tab-animation card-header">
		<div class="card-header-title">
			<i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
			<!-- <span class="col-xs-6"> 1. 시작하기</span> -->
			<h4 class="blue mb-0">
				<span class="col-xs-6"> 4. Computed와 Watch</span>
			</h4>
		</div>
	</div>
	<div class="card-body">
		<% include ./vue_computed.html %>
	</div>
</div>

<div class="mb-3 card">
	<div class="card-header-tab card-header-tab-animation card-header">
		<div class="card-header-title">
			<i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
			<!-- <span class="col-xs-6"> 1. 시작하기</span> -->
			<h4 class="blue mb-0">
				<span class="col-xs-6"> 5. HTML 클래스 바인딩</span>
			</h4>
		</div>
	</div>
	<div class="card-body">
		<% include ./vue_class.html %>
	</div>
</div>

<div class="mb-3 card">
	<div class="card-header-tab card-header-tab-animation card-header">
		<div class="card-header-title">
			<i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
			<!-- <span class="col-xs-6"> 1. 시작하기</span> -->
			<h4 class="blue mb-0">
				<span class="col-xs-6"> 6. 조건부 렌더링</span>
			</h4>
		</div>
	</div>
	<div class="card-body">
		<% include ./vue_if.html %>
	</div>
</div>

<div class="mb-3 card">
	<div class="card-header-tab card-header-tab-animation card-header">
		<div class="card-header-title">
			<i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
			<!-- <span class="col-xs-6"> 1. 시작하기</span> -->
			<h4 class="blue mb-0">
				<span class="col-xs-6"> 7. 리스트 렌더링</span>
			</h4>
		</div>
	</div>
	<div class="card-body">
		<% include ./vue_list.html %>
	</div>
</div>

<div class="mb-3 card">
	<div class="card-header-tab card-header-tab-animation card-header">
		<div class="card-header-title">
			<i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
			<!-- <span class="col-xs-6"> 1. 시작하기</span> -->
			<h4 class="blue mb-0">
				<span class="col-xs-6"> 8. 이벤트 핸들링</span>
			</h4>
		</div>
	</div>
	<div class="card-body">
		<% include ./vue_event.html %>
	</div>
</div>

<!-- footer -->
<% include ../../../footer.html %>

<script>
<% include ../../js/basic/vue_start.js %>
<% include ../../js/basic/vue_instance.js %>
<% include ../../js/basic/vue_grammer.js %>
<% include ../../js/basic/vue_computed.js %>
<% include ../../js/basic/vue_class.js %>
<% include ../../js/basic/vue_if.js %>
<% include ../../js/basic/vue_list.js %>
<% include ../../js/basic/vue_event.js %>
</script>
