<!-- header -->
<% include ../header.html %>

<!-- PAGE CONTENT BEGINS -->
<div class="mb-3 card">
	<div class="card-header-tab card-header-tab-animation card-header">
		<div class="card-header-title">
			<i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
			<!-- <span class="col-xs-6"> 1. 시작하기</span> -->
			<h4 class="blue mb-0">
				<span class="col-xs-6"> TodoList</span>
			</h4>
		</div>
	</div>
	<div class="card-body">
        <div id="list"></div>
	</div>
</div>




<!-- footer -->
<% include ../footer.html %>

<script>
new Vue({
    el: '#list'
});
</script>
