<!-- header -->
<% include ../../header.html %>

<!-- PAGE CONTENT BEGINS -->
<div class="mb-3 card">
	<div class="card-header-tab card-header-tab-animation card-header">
		<div class="card-header-title">
			<i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
			<!-- <span class="col-xs-6"> 1. 시작하기</span> -->
			<h4 class="blue mb-0">
				<span class="col-xs-6"> TodoList</span>
			</h4>
		</div>
	</div>
	<div class="card-body">
        <section class="todoapp">
			<header class="header">
					<input class="new-todo form-control"
					 		autofocus autocomplete="off"
							placeholder="내일까지 할일을 적으시유 ㅠㅠ"
							v-model="newTodo"
							v-on:keyup.enter="addTodo"/>
			</header>
			<section class="main mt-2" v-show="todos.length" v-cloak>
				<div class="custom-checkbox custom-control">
					<input type="checkbox" id="toggle-all" v-model="allDone" class="toggle-all custom-control-input">
					<label class="custom-control-label" for="toggle-all"></label>
				</div>

				<ul class="todo-list list-group mt-3">
					<li v-for="todo in filteredTodos" class="todo list-group-item" v-bind:key="todo.id"
						v-bind:class="{ completed: todo.completed, editing: todo === editedTodo }">
						<div class="view">
							<div class="custom-checkbox custom-control custom-control-inline">
								<input type="checkbox" id="select-item" v-model="todo.completed" class="custom-control-input">
								<label v-on:dblclick="editTodo(todo)" for="select-item" class="custom-control-label">{{ todo.title }}</label>
							</div>
							<button class="btn btn-danger btn-sm destroy" v-on:click="removeTodo(todo)">X</button>
						</div>

						<input class="edit form-control" type="text"
								v-model="todo.title"
								v-todo-focus="todo == editedTodo"
								v-on:blur="doneEdit(todo)"
								v-on:keyup.enter="doneEdit(todo)"
								v-on:keyup.esc="cancleEdit(todo)" />
					</li>
				</ul>
			</section>
			<footer class="footer" v-show="todos.length" v-cloak>
				<span class="todo-count">
					<strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
				</span>
				<ul class="filters">
					<li><a href="#/all" v-bind:class="{ selected: visiblity == 'all' }">모두</a></li>
					<li><a href="#/active" v-bind:class="{ selected: visiblity == 'active' }">진행중</a></li>
					<li><a href="#/completed" v-bind:class="{ selected: visiblity == 'completed' }">완료</a></li>
				</ul>
				<button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
					완료된 것 지우기
				</button>
			</footer>
		</section>
	</div>
</div>




<!-- footer -->
<% include ../../footer.html %>

<script>
<% include ../js/todo.js %>
</script>
